HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### utility ###
executions/utility_java/entrypoint.sh
executions/utility_c/entrypoint.sh
executions/utility_cpp/entrypoint.sh
executions/utility_py/entrypoint.sh
executions/utility_go/entrypoint.sh
executions/utility_cs/entrypoint.sh

### idea ###
.idea

mvnw
mvnw.cmd
.directory
.mvn
